---
const { title, description, image, date } = Astro.props;
---

<div class="bg-linear-to-br from-blue-950/20 to-dai/25 border-0 border-dai/80 rounded-xl mb-4 backdrop-blur-md h-full">
  {image && (
    <img
      src={image}
      alt={title}
      class="w-full h-48 object-cover rounded-t-xl border-b-4 border-dai/80"
    />
  )}
  <div class="flex flex-col justify-start p-4 text-left">
    <h3 class="text-xl font-semibold text-white mb-2">{title}</h3>
    <p class="text-pretty text-white/60 mb-5">{description}</p>
    {date && <p class="absolute bottom-3 right-4 text-pretty text-white/60">{date}</p>}
  </div>
</div>

