---

const { stats } = Astro.props;
const id = Astro.props.id
const title = Astro.props.title
const description = Astro.props.description
const stat1 = Astro.props.stat1
const stat2 = Astro.props.stat2
const stat3_campus = Astro.props.stat3_campus
const stat3_city = Astro.props.stat3_city
const textColor = Astro.props.textColor || "text-white/80"
---
<div id={id} class="bg-white/10 backdrop-blur-lg border border-white/20 rounded-xl p-3 sm:p-4 lg:p-6 text-center">
    <div id={`${id}-stats12`} class={`text-lg sm:text-xl lg:text-2xl font-bold mb-1 lg:mb-2 text-white/50`}>
        <span class="text-dai">{stat1}</span> / <span class="text-purple-400">{stat2}</span>
    </div>
    <div class="text-white/80 text-xs sm:text-sm">{title}</div>
    <span class="text-white/80 text-xs sm:text-xs">{description}</span>
    <div class="text-xs sm:text-xs">
        <span id={`${id}-stats3_campus`} class="text-dai">{stat3_campus}</span>
        <span class="text-white/80"> - </span>
        <span id={`${id}-stats3_city`} class="text-purple-400">{stat3_city}</span>
    </div>
</div>