---
const { title, description, image, imageClass, slug} = Astro.props;
---

<a class="flex flex-row items-center justify-center p-4 bg-white/5 border-1 border-azul-brillante/20 hover:bg-white/7 hover:border-azul-brillante/30 hover:transform hover:scale-101 rounded-lg w-100 h-35 gap-4 transition-all duration-300"
    href={`/services/${slug}`}>
    <div class={`p-4 rounded-full bg-dai/5 border border-dai/10 w-[100px] h-[100px] flex items-center justify-center ${imageClass}`}>
        <animated-icons
            src={image}
            aria-label={`Icono animado representando ${title}`}
            trigger="loop"
            attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1,"defaultColours":{"group-1":"#FFFFFFFF","group-2":"#00ACE2FF","background":"#FFFFFF00"}}'
            height="80"
            width="80"
            speed="0.5"
            class={imageClass}
        ></animated-icons>
    </div>
    <div class="text-left">
        <h3 class="text-xl font-bold text-azul-brillante">{title}</h3>
        <p class="text-pretty text-[14px]">{description}</p>
    </div>
</a>

<script src="@/scripts/embed-animated-icons.js"></script>
